* {
    padding: 0;
}

header,
footer {
    flex-grow: 1
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin-bottom: 100px;
}

.sidebar-container {
    width: 10%;
    min-width: 220px;
    height: 50%;
    min-height: 410px;
    border-right: 2px solid #C4C4C4;
    margin-top: 151px;
    margin-left: 40px;
}

.main-container {
    width: 65%;
    min-width: 450px;
    margin-top: 151px;
    margin-left: 20px;
}

.header-menu {
    position: fixed;
    z-index: 1;
    background: #590BFF;
    width: 100%;
}

.header-title {
    color: #FFFFFF;
    margin-left: 40px;
}

.title-list-surname {
    position: sticky;
    z-index: 1;
    width: 100%;
    left: 0px;
    top: 80px;
    background: #590BFF;
}

footer {
    z-index: 1;
    background: #590BFF;
    width: 100%;
    min-width: 450px;
    height: 10em;
    display: flex;
    align-items: center;
}

.footer-copyright a:link {
    color: #FFFFFF;
}

.footer-copyright a:visited {
    color: #FFFFFF;
}

.footer-copyright a:hover {
    color: #FFFFFF;
}

.footer-copyright a:active {
    color: #FFFFFF;
}

.footer-copyright {
    color: #FFFFFF;
    margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

li {
    list-style-type: none;
}

.title-right-sidebar {
    font-size: 28px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
}

.links-right-sidebar {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}

.links-right-sidebar a:link {
    color: #FF710B;
}

.links-right-sidebar a:visited {
    color: #FF710B;
}

.links-right-sidebar a:hover {
    color: #be5408;
}

.links-right-sidebar a:active {
    color: #be5408;
}

.block.list-surname {
    position: relative;
    left: 13px;
}

.list-surname {
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.content-title {
    position: relative;
    width: 19px;
    height: 33px;
    left: 13px;
    top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.first-letter {
    position: relative;
    left: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
